services:
  postgres:
    image: postgres:15
    container_name: define_auth_postgres
    restart: always
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: define_user
      POSTGRES_PASSWORD: define_pass
      POSTGRES_DB: define_auth
    volumes:
      - pgdata:/var/lib/postgresql/data
  
  pgadmin:
    image: dpage/pgadmin4
    container_name: define_auth_pgadmin
    environment:
        PGADMIN_DEFAULT_EMAIL: admin@define.com
        PGADMIN_DEFAULT_PASSWORD: admin123
    ports:
      - "5050:80"
    depends_on:
      - postgres

volumes:
  pgdata:
